.18_170 { 
	overflow:hidden;
}.e18_170 { 
	background-color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:1920px;
	height:1458px;
	position:absolute;
}.e18_171 { 
	width:414px;
	height:536.265625px;
	position:absolute;
	left:47px;
	top:0px;
}.e18_172 { 
	width:314.625px;
	height:335px;
	position:absolute;
	left:49.6875px;
	top:201.265625px;
}.e18_173 { 
	color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:98.16874694824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:11px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_174 { 
	color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:79.48124694824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_175 { 
	color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:77.63749694824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:69px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_176 { 
	color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:120.74687194824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:98px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_177 { 
	color:rgba(255, 255, 255, 1);
	width:103.04374694824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:127px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_178 { 
	color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:47.79375076293945px;
	height:19px;
	position:absolute;
	left:0px;
	top:187px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_179 { 
	color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:59.40312576293945px;
	height:19px;
	position:absolute;
	left:0px;
	top:216px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_180 { 
	color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:86.40312194824219px;
	height:19px;
	position:absolute;
	left:0px;
	top:248px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e18_181 { 
	width:314.625px;
	height:55px;
	position:absolute;
	left:0px;
	top:280px;
}.e18_182 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0.5px;
	top:10.5px;
}.e18_183 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_184 { 
	background-color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:15.466666221618652px;
	height:15.466666221618652px;
	position:absolute;
	left:6.766666889190674px;
	top:5.800000190734863px;
}.e18_185 { 
	width:29px;
	height:29px;
	position:absolute;
	left:38.5px;
	top:10.5px;
}.e18_186 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_187 { 
	width:15.273332595825195px;
	height:15.369998931884766px;
	position:absolute;
	left:6.766666889190674px;
	top:6.766666889190674px;
}.e18_188 { 
	background-color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:15.273332595825195px;
	height:15.369998931884766px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_189 { 
	background-color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:7.926667213439941px;
	height:7.926667213439941px;
	position:absolute;
	left:3.7699995040893555px;
	top:3.7700002193450928px;
}.e18_190 { 
	background-color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:1.9333332777023315px;
	height:1.9333332777023315px;
	position:absolute;
	left:10.826667785644531px;
	top:2.609999895095825px;
}.e18_191 { 
	width:29px;
	height:29px;
	position:absolute;
	left:76.5px;
	top:10.5px;
}.e18_192 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_193 { 
	width:15.273332595825195px;
	height:11.50333309173584px;
	position:absolute;
	left:6.863333702087402px;
	top:8.796667098999023px;
}.e18_194 { 
	background-color:rgba(210.00000268220901, 0, 242.00000077486038, 1);
	width:15.273332595825195px;
	height:11.50333309173584px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_195 { 
	width:217px;
	height:117px;
	position:absolute;
	left:31px;
	top:50px;
	background-image:url(images/e64e5321_489d_489e_bb4e_313cc702163e_rwc_42x0x6205x3358x4096_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_196 { 
	width:1242px;
	height:289px;
	position:absolute;
	left:546px;
	top:0px;
}.e18_197 { 
	width:1242px;
	height:138px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_198 { 
	color:rgba(255, 255, 255, 1);
	width:160.1687469482422px;
	height:28px;
	position:absolute;
	left:541.015625px;
	top:66px;
	font-family:Poppins;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}.e18_232 { 
	width:1242px;
	height:174px;
	position:absolute;
	left:546px;
	top:1284px;
}.e18_233 { 
	width:1242px;
	height:60px;
	position:absolute;
	left:0px;
	top:60px;
}.e18_234 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:30px;
	height:30px;
	position:absolute;
	left:568px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e18_235 { 
	width:22px;
	height:22px;
	position:absolute;
	left:4px;
	top:4px;
}.e18_236 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_237 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:11.733333587646484px;
	height:11.733333587646484px;
	position:absolute;
	left:5.133333206176758px;
	top:4.399999618530273px;
}.e18_238 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:30px;
	height:30px;
	position:absolute;
	left:606px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e18_239 { 
	width:22px;
	height:22px;
	position:absolute;
	left:4px;
	top:4px;
}.e18_240 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_241 { 
	width:11.586666107177734px;
	height:11.65999984741211px;
	position:absolute;
	left:5.133333206176758px;
	top:5.133333206176758px;
}.e18_242 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:11.586666107177734px;
	height:11.65999984741211px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_243 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:6.013333797454834px;
	height:6.013333797454834px;
	position:absolute;
	left:2.8600001335144043px;
	top:2.8600001335144043px;
}.e18_244 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:1.4666666984558105px;
	height:1.4666666984558105px;
	position:absolute;
	left:8.213334083557129px;
	top:1.9800000190734863px;
}.e18_245 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:30px;
	height:30px;
	position:absolute;
	left:644px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e18_246 { 
	width:22px;
	height:22px;
	position:absolute;
	left:4px;
	top:4px;
}.e18_247 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_248 { 
	width:11.586666107177734px;
	height:8.726666450500488px;
	position:absolute;
	left:5.206666946411133px;
	top:6.673333168029785px;
}.e18_249 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:11.586666107177734px;
	height:8.726666450500488px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_250 { 
	color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:150.2156219482422px;
	height:15px;
	position:absolute;
	left:545.984375px;
	top:121px;
	font-family:Poppins;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e18_251 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1242px;
	height:335px;
	position:absolute;
	left:546px;
	top:313px;
}